@font-face {
  font-family: 'AtlasGrotesk';
  src: url('/static/fonts/AtlasGrotesk-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AtlasGrotesk';
  src: url('/static/fonts/AtlasGrotesk-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'AtlasGrotesk';
  src: url('/static/fonts/AtlasGrotesk-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'AtlasGrotesk', sans-serif;
  background-color: #181818;
}

.main-content { 
  padding: 30px;
  width: 100%;
}

hr {
  border-top: 1px solid #c2c2c2;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 1400px;
}

label {
  color: #ffffff;
}

/* Sidebar styling */
.sidebar {
  height: 100vh;
  width: 300px;               
  background-color: #080913;   
  color: #fff;
  font-weight: 700;
}

.sidebar .nav-link {
  color: #ffffff;
  padding: 10px 10px;
  margin-top: 2rem;
  margin-left: 1rem;
}

.logo {
  margin-top: 3.5rem;
  margin-left: 1.8rem;
  height: auto;
}

.Title {
  color: white;
  font-size: 40px;
  font-family: 'AtlasGrotesk';
  font-weight: 500;
  word-wrap: break-word;
  margin-top: 5rem;
}

.Etat {
  color: white;
  font-size: 24px;
  font-family: 'AtlasGrotesk';
  font-weight: 500;
  word-wrap: break-word;
}

/* Grid container for slots and form */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 295px);
  row-gap: 20px;    /* vertical spacing */
  column-gap: 40px; /* horizontal spacing */
  align-items: start;
}

/* Slot styling */
.slot {
  width: 295px;
  height: 175px;
  border: 2px dashed #666;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

/* Highlight border for the selected slot */
.slot.selected {
  border-color: #FFCF25;
}

/* Horizontal rule container spanning all grid columns */
.grid-hr {
  grid-column: 1 / span 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-hr hr {
  width: 100%;
  border: 1px solid #c2c2c2;
  margin: 1rem 0;
}
